{% extends "base.html" %}
{% load static %}



{% block component %}

<div class="d-flex flex-wrap mx-auto w-75 p-3 justify-content-center align-items-center">
  <div class="col-6">
    <h2 class='fw-bold pb-2'>Welcome to django Blog</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis placeat enim repellendus nihil vero incidunt, eligendi dolores? Voluptas esse ratione nesciunt qui debitis, consectetur temporibus sint tempora a laboriosam? Et voluptates impedit laudantium saepe corrupti quidem vero ullam, beatae dicta sequi amet, accusantium quis ipsum, nesciunt assumenda natus cumque accusamus exercitationem velit? Fuga quo laudantium illo odit, nihil voluptate incidunt in modi, reiciendis quod obcaecati vitae, expedita labore? In fugiat iure labore a, blanditiis eos dicta vitae dolorum nesciunt consectetur obcaecati temporibus molestias quos nulla impedit voluptatibus rem odio minus illum optio sint? Nisi culpa odit nam doloremque harum.</p>
  </div>

  <div class="col-6" >
    <img src="{% static 'images/banner.avif'%}" alt="banner-img" width='100%' class='img-fluid'>
  </div>
</div>



<div class="d-flex flex-wrap bg-info-subtle">
  <div class="col-2 bg-warning-subtle border border-success p-4 border-start-0 border-top-0 border-bottom-0">
   <h5>All Categories</h5>
    {% for c in category %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="category" id="{{c.id}}">
        <label class="form-check-label" for="{{c.id}}">
          
          <a href="{% url 'category_wise_post' c.slug %}" class='text-decoration-none text-dark'>{{c.name}}</a>
        </label>
      </div>
    {% endfor %}
  
  </div>
  <div class="col-10">
    <div class="row d-flex flex-wrap justify-content-start px-5 container" style="width:80%; margin:auto;">
      <h4 class='text-success text-center p-3'>{{ post | length}} Resuls Found</h4>
      {% for p in post %}
      <div class="col-sm-3 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{p.title | truncatewords:5}}</h5>          
              <p class="card-text">{{p.content | truncatewords:25 }}</p>
              <p>Author: {{p.author.first_name}} {{p.author.last_name}}</p>
              <p>
                Category: {% for cat in p.category.all %}
                <button class='btn btn-warning m-2 btn-sm' disabled>{{cat | join:',' }}</button>
                {% endfor %}
              </p>
              <a href="{% url 'edit_post' p.id %}" class="btn btn-success btn-sm">Edit</a>
              <a href="{% url 'delete_post' p.id %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
  </div> 
  </div>
</div>
  
{% endblock component %}