/* .res-card-container{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.res-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.res-card img{
    width: 200px;
} */