.amount-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.amount-box{
    padding: 2rem;
    border: 1px solid gray;
   
    width: 350px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    border-radius: 5px;
}

.deposit{
  background-color: rgb(65, 118, 118);
    color:white;
}
.withdraw{
    background-color: rgb(35, 47, 135);
    color:white;
}
.total{
    background-color: rgb(134, 54, 137);
    color:white;
}

.transaction-container{
    margin-top:120px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.transaction-container input{
    text-align: center;
    width: 200px;
    padding:5px;
    border-radius: 5px;
    border: 1px solid gray;
    
}
.deposit-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.withdraw-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.transaction-container button{
    background-color: aqua;
    border:none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;    
}

.inner-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

