<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
</head>
<body>
    <nav class="nav">
        <button><h4><a href="http://127.0.0.1:8000/">Home</a></h4></button>
        <div class="btn">
            <h4><a href="/app/about">about</a></h4>
            <h4><a href="/app/contact">contact</a></h4>
        </div>
    </nav>
    
    <h1>Home</h1>
    



    <h1></h1>
</body>
</html>