{% extends "base.html" %}

{% block component %}
    
    {% load crispy_forms_tags %}

    <div class="signup w-50 mx-auto">
        <h1 class="text-center text-success p-2">Change Your Password</h1>
        {%if messages %}
            {%for msg in messages %}
                <p {%if msg.tags%} class='text-{{ msg.tags }}' {%endif%}>{{msg}}</p>
            {%endfor%}
        {%endif%}
        <form action="" method='POST'>
            {% csrf_token %}
            <!--{{ form | crispy }}-->
            {%for fm in form %}
            {{fm.label_tag}}
            {{fm}}
            {{fm.errors}}
            {%endfor%}
            <button class="btn btn-success mt-2">Update</button>
        </form>
    </div>

{% endblock component %}