{% extends "base.html" %}

{% block component %}
    
    {% load crispy_forms_tags %}

    <div class="signup w-50 mx-auto">
        {%if messages %}
        {%for msg in messages %}
            <p {%if msg.tags%} class='text-{{ msg.tags }} bg-{{msg.tags}} text-white' {%endif%}>{{msg}}</p>
        {%endfor%}
    {%endif%}
    {% if form.non_field_errors %}
        {%for err in form.non_field_errors %}
            <p class='text-bg-danger text-white border bg-danger' >{{err}}</p>
        {%endfor%}
    {%endif%}
        <h1 class="text-center text-success p-2">{{type}}</h1>
     
        <form action="" method='POST'>
            {% csrf_token %}
            <!--{{ form | crispy }}-->
            {%for fm in form %}
            {{fm.label_tag}}
            {{fm}}
            {{fm.errors}}
            {%endfor%}
            <button class="btn btn-success mt-2">{{type}}</button>
        </form>
    </div>

{% endblock component %}