{% extends "base.html" %}

{% block component %}
{% load crispy_forms_tags %}
    
    {%if messages %}
    {%for msg in messages %}
        <p {%if msg.tags%} class='text-{{ msg.tags }} bg-{{msg.tags}} text-white' {%endif%}>{{msg}}</p>
    {%endfor%}
    {%endif%}
    {% if form.non_field_errors %}
        {%for err in form.non_field_errors %}
            <p class='text-bg-danger text-white'>{{err}}</p>
        {%endfor%}
    {%endif%}
    
    <div class="signup w-50 mx-auto">
    
        <h1 class="text-center text-success p-2">Update Your Profile</h1>
       
        <form action="" method='POST'>
            {% csrf_token %}
            <!--{{ form | crispy }}-->
            {%for fm in form %}
            {{fm.label_tag}}
            {{fm}}
            {{fm.errors}}
            {%endfor%}
            <button class="btn btn-success mt-2">Update</button>
        </form>
    
    </div>

{% endblock component %}