{% extends 'base.html' %}
{% load static %}

{% block content%}


<div class="container mt-5">
    <div class="row">
            {% for meal in meals %}
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ meal.strMealThumb }}" alt="Meal Image">
                        <div class="card-body">
                            <h4 class="card-title">{{ meal.strMeal }}</h4>
                            <p class="card-text text-muted">{{ meal.idMeal }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    

{% endblock %}