{% extends "base.html" %}

{% block component %}
{% load crispy_forms_tags %}
    <div class="w-75 mx-auto">
        <div class="card" >
            <div class="card-body" >
                <img class='card-img-top ' src="{{ post.image.url }}" alt="{{ post.title }}" style="width: 50%; height: 250px;">
                <h1 class="card-title p-2">{{post.title}}</h1>          
                <p class="card-text ">{{post.content}}</p>
                <p class="card-text "> <span class='fw-bold'>Author:</span> {{post.author.first_name}} {{post.author.last_name}}</p>
                <p class="card-text" >
                    <span class='fw-bold'>Category:</span> {% for cat in post.category.all %}
                    <button class='btn btn-warning m-2 btn-sm' disabled>{{cat | join:',' }}</button>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="card p-2">
            <h5> Total Comments: {{comments | length }}</p>
            <div class="card-body">
                {%for comment in comments%}
                    <div class="p-2 lh-4 bg-body-secondary">
                        <p><small class='fw-bold'>{{comment.name}}</small> <small class='fs-6'>{{comment.created_on}}</small></p>
                        <p>{{comment.body}}</p>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>

    <div class="card w-75 mx-auto">
        <div class="card-body">
            <form  method="POST">
                {% csrf_token %}
                <h4>Comment</h4>
                {{comments_form | crispy }}
                <button class="btn btn-success btn-sm">Submit</button>    
            </form>
        </div>
    </div>
    
{% endblock component %}